@model LojaWebMvc.Models.Server

@{
    ViewData["Title"] = "Edit Server";
}

<!-- <h2>Dashboard/Novo Cliente</h2> -->

    <div class="mt-4">
         <a asp-action="Index" class="btn btn-primary">Back</a>
    </div>
<div class="row">
<div class="col-md-12">
<br>
<div class="container">
<div class="row">
<div class="col-12">
<div class="card">
<div class="card-header text-center bg-dark text-white">
<div class="row align-items-center">
<div class="col-md-12">
<h5>Edit server</h5>
</div>
</div>
</div>
<div class="card mt-4">
<div class="card-header">Server data::
</div>
<div class="card-body">
<div class="row">
    <form asp-controller="Logins" asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id"/>
    <div class="row">
    <div class="col">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control input-sm" />
    <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col">
    <label asp-for="Address "></label>
    <input asp-for="Address" class="form-control input-sm" />
    <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    </div>
    <div class="row">
    <div class="col">
  <label asp-for="Status"></label>
    <input asp-for="Status" class="form-control input-sm" />
    <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="mt-4">
    <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
</div>
</div>